* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
  margin: 0;
}
:root {
  /*Primary color*/
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  /*Light theme*/
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
  /*Dark theme*/
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
  /*body copy*/
  --Font-size: 18px;
  --font-family: "Josefin Sans", sans-serif;
  --text-align: center;
  --color-active-to-do-states: hsl(228, 45%, 44%);
  --mobile-margin: 1.5rem;
  --header-footer-margin: 2rem;
  --margin-bodylist: 1.2rem;
  --input-height: 2.7rem;
  /*mobile-margin-padding*/
  --mobile-input-padding: 1rem;
}

/*.App {
  margin-left: var(--mobile-margin);
  margin-right: var(--mobile-margin);
  display: flex;
  flex-direction: column;
}*/

.main-div {
  padding-left: var(--mobile-margin);
  padding-right: var(--mobile-margin);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 207px;
  color: white;
  display: flex;
  flex-direction: column;
}

.light-mode {
  background-image: url(./images/bg-mobile-light.jpg);
  background-color: var(--Very-Light-Grayish-Blue);
}
.dark-mode {
  background-image: url(./images/bg-mobile-dark.jpg);
  background-color: var(--Very-Dark-Grayish-Blue);
}
h1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: var(--header-footer-margin);
  padding-top: var(--header-footer-margin);
  margin-left: var(--mobile-margin);
  margin-right: var(--mobile-margin);
}
.title {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 10px;
}
.container {
  margin-bottom: 1.2rem;
}

input {
  width: 100%;
  height: var(--input-height);
  padding-left: var(--mobile-input-padding);
  margin-bottom: 1.2rem;
}
input:focus {
  outline: none;
}
.todos {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--input-height);
  padding-left: var(--mobile-input-padding);
  padding-right: var(--mobile-input-padding);
  border: 0px solid;
  margin-bottom: 0.1rem;
  list-style: none;
  background-color: white;
  color: black;
}
.checkbox {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  border: solid 0.1px var(--Very-Dark-Desaturated-Blue);
}
.checkbox img {
  cursor: pointer;
  padding-left: 4px;
}
.red {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.line-through {
  text-decoration: line-through;
}
[data-cross] {
  margin-left: auto;
  height: 20px;
  width: 20px;
}
[data-history="history"] {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--input-height);
  padding-left: var(--mobile-input-padding);
  padding-right: var(--mobile-input-padding);
  border: 0px solid;
  margin-bottom: 0.1rem;
  background-color: white;
  justify-content: space-between;
  color: black;
}
[data-history="clear-completed"] {
  cursor: pointer;
}
[data-history="clear-completed"]:hover {
  color: var(--Light-Grayish-Blue-hover);
  cursor: pointer;
}
footer {
  color: black;
}

[data-states="states"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 5em;
  padding-right: 2em;
  background-color: white;
  width: 100%;
  height: var(--input-height);
  color: black;
}
[data-states="states"] div {
  margin-right: 3em;
  cursor: pointer;
  color: var();
}
[data-states="states"] div:hover {
  color: var(--Bright-Blue);
}

.footer {
  align-self: center;
  margin-top: var(--header-footer-margin);
  color: black;
}
